Source: qtruby
Section: ruby
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Torsten Marek <shlomme@debian.org>, Sune Vuorela <sune@debian.org>, David Palacio <dpalacio@orbitalibre.org>, Modestas Vainius <modax@debian.org>, Michael Meskes <meskes@debian.org>
Build-Depends: debhelper (>= 7.4.10), pkg-kde-tools (>= 0.6.8), cmake,
 smoke-dev-tools, libsmokeqt4-dev, ruby1.8, ruby1.8-dev, libqt4-dev,
 libqtwebkit-dev, libqwt5-qt4-dev, libphonon-dev, libqscintilla2-dev
Standards-Version: 3.9.2
Homepage: http://projects.kde.org/projects/kde/kdebindings/ruby/qtruby
Vcs-Git: git://git.debian.org/git/pkg-kde/kde-sc/qtruby.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/kde-sc/qtruby.git;a=summary

Package: libqtruby4shared2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: internal library for Qt 4 Ruby bindings
 This is an internal library of Qt Ruby.

Package: libqtruby4shared-dev
Section: libdevel
Architecture: any
Depends: ${so:Depends}, ${misc:Depends}
Description: Qt4 Ruby bindings
 moduledescreplace

Package: ruby-qscintilla2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QScintilla2 bindings for the Ruby language
 This package provides the Ruby bindings for the QScintilla2 library.

Package: ruby-qt4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: ruby1.8
Provides: libqt4-ruby, libqt4-ruby1.8
Replaces: libqt4-ruby, libqt4-ruby1.8
Breaks: libqt4-ruby, libqt4-ruby1.8
Description: Qt 4 bindings for the Ruby language
 This package provides the Ruby bindings for some of the Qt 4 modules:
  * QtCore
  * QtGui
  * QtXml
  * QtDBus

Package: ruby-qt4-declarative
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QtDeclarative bindings for the Ruby language
 This package provides the Ruby bindings for the QtDeclarative Qt 4 library.

Package: ruby-qt4-dbg
Priority: extra
Section: debug
Architecture: any
Depends: ruby-qt4 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Qt 4 bindings for the Ruby language -- debug symbols
 This package provides the debug symbols of the Qt 4 Ruby bindings.

Package: ruby-qt4-phonon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libqt4-ruby, libqt4-ruby1.8
Breaks: libqt4-ruby, libqt4-ruby1.8
Description: Phonon bindings for the Ruby language
 This package provides the Ruby bindings for the Phonon library.

Package: ruby-qt4-script
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libqt4-ruby, libqt4-ruby1.8
Breaks: libqt4-ruby, libqt4-ruby1.8
Description: QtScript bindings for the Ruby language
 This package provides the Ruby bindings for the QtScript Qt 4 library.

Package: ruby-qt4-test
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libqt4-ruby, libqt4-ruby1.8
Breaks: libqt4-ruby, libqt4-ruby1.8
Description: QtTest bindings for the Ruby language
 This package provides the Ruby bindings for the QtTest Qt 4 library.

Package: ruby-qt4-uitools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libqt4-ruby, libqt4-ruby1.8
Breaks: libqt4-ruby, libqt4-ruby1.8
Description: QtUiTools bindings for the Ruby language
 This package provides the Ruby bindings for the QtUiTools Qt 4 library.

Package: ruby-qt4-webkit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libqt4-ruby, libqt4-ruby1.8
Breaks: libqt4-ruby, libqt4-ruby1.8
Description: QtWebKit bindings for the Ruby language
 This package provides the Ruby bindings for the QtWebKit Qt 4 library.

Package: ruby-qwt5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QWt5 bindings for the Ruby language
 This package provides the Ruby bindings for the QWt5 library.

#Transitional packages: http://wiki.debian.org/Teams/Ruby/RubyInWheezy
Package: libqt4-ruby
Architecture: all
Depends: ruby-qt4
Description: transitional package for ruby-qt4
 This is a transitional package to ease upgrades to the ruby-qt4 package.
 It can safely be removed.

Package: libqt4-ruby1.8
Architecture: all
Depends: ruby-qt4
Description: transitional package for ruby-qt4
 This is a transitional package to ease upgrades to the ruby-qt4 package.
 It can safely be removed.

