#! /usr/bin/make -f
# This has to be exported to make some magic below work.
export DH_OPTIONS

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    MAKEFLAGS += -j$(NUMJOBS)
endif

override_dh_install:
	dh_install --list-missing

override_dh_strip:
	dh_strip --dbg-package=ruby-qt4-dbg

#Build-Depend on pkg-kde-tools (>= 0.6.8) for dh_sodeps
override_dh_gencontrol:
	dh_sodeps
	dh_gencontrol

override_dh_auto_clean:
	dh_auto_clean --builddirectory=obj-ruby18
	dh_auto_clean --builddirectory=obj-ruby191

override_dh_auto_configure:
	dh_auto_configure --builddirectory=obj-ruby18  -- -DRUBY_EXECUTABLE=/usr/bin/ruby1.8
	dh_auto_configure --builddirectory=obj-ruby191 -- -DRUBY_EXECUTABLE=/usr/bin/ruby1.9.1 -DRUBY_LIBRARY=/usr/lib/libruby-1.9.1.so

override_dh_auto_build:
	dh_auto_build --builddirectory=obj-ruby18
	dh_auto_build --builddirectory=obj-ruby191

override_dh_auto_install:
	dh_auto_install --builddirectory=obj-ruby18
	dh_auto_install --builddirectory=obj-ruby191

%:
	dh $@

