#! /usr/bin/make -f

override_dh_install:
	dh_install --list-missing

override_dh_strip:
	dh_strip --dbg-package=ruby-qt4-dbg

#Build-Depend on pkg-kde-tools (>= 0.6.8) for dh_sodeps
override_dh_gencontrol:
	dh_sodeps
	dh_gencontrol

#Always use Ruby 1.8.x
override_dh_auto_configure:
	dh_auto_configure -- -DRUBY_EXECUTABLE=/usr/bin/ruby1.8

#Build-Depend on debhelper (>= 7.4.10) for --parallel
%:
	dh $@ --parallel

